
/* Footer */
.footer{
  color: white;
  font-size: 24px;
  font-weight: 500;
  background-color: var(--color-header-footer);
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.social-picture {
  width: 50px;
  margin-top: 10px;
  margin-left: 10px;
}