/* Form */
.form-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input[type=text], input[type=email], textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
  border: 3px solid var(--color-header-footer);
}

.btn-primary {
  background-color: var(--color-header-footer)!important;
  border: 1px solid var(--color-header-footer)!important;
}

.btn-primary:hover {
  background-color: rgb(9,117,164)!important;
}