/* General properties */
:root{
  --icon-width: 80px;
  --radius: 5px;
  --color-ros: brown;
  --color-django: black;
  --color-docker: blue;
  --color-redis: green;
  --color-pytorch: yellow;
  --color-mongodb: orange;
  --color-gitlab: red;
}
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  border: 1px solid blue;
}

/* Header, navigation bar */
.navbar {background-color: #3e92cc;}
.navbar-nav {flex-direction: row!important;}
.navbar-dark .nav-item:active .nav-link:active {color:white!important;}
.nav-link {
  font-size: 24px!important;
  padding: 20px!important;
}

/* Section */
.section {
  padding: 100px 0px 10px 0px;
}

/* Bio */
.profile-description {
  display: flex;
  /* flex-direction: column; */
}
.profile-picture {
  height: 150px;
  border-radius: 80px;
  align-self: center;
}
.profile-description > p > a {
  display: block!important;

}

/* Skills */
.skill-picture {
  width:80px;
  height: 80px;
}
.cpp-bg {background-image: linear-gradient(to right, rgb(24,68,130), rgb(80,131,173));}
.py-bg {background-image: linear-gradient(to right, rgb(80,131,173), rgb(250,214,55));}
.js-bg {background-image: linear-gradient(to left, rgb(250,214,55), rgb(242,196,38));}
.html-bg {background-image: linear-gradient(to left, rgb(242,196,38), rgb(229,139,80));}
.matlab-bg {background-image: linear-gradient(to left, rgb(229,139,80), rgb(57,148,240));}
.css-bg {background-image: linear-gradient(to left, rgb(57,148,240), rgb(25, 79, 155));}
.solidity-bg {background-image: linear-gradient(to left, rgb(25, 79, 155),  rgb(57, 56, 55));}
.no-bs-tooltip .tooltip-text {
  position: absolute;
  background-color: rgb(100, 100, 100);
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 5px;
}
.no-bs-tooltip:hover .tooltip-text {
  opacity: 1;
}



/* Tool and framework pie chart */
#my-pie-chart-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#my-pie-chart {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: conic-gradient(
    var(--color-ros) 0.00%,
    var(--color-django) 0.00% 0.55%,
    var(--color-docker) 0.55% 6.08%,
    var(--color-redis) 6.08% 13.68%,
    var(--color-pytorch) 13.68% 23.27%,
    var(--color-mongodb) 23.27% 40.47%,
    var(--color-gitlab) 40.47%
  );
}
#legenda {
  margin-left: 20px;
  background-color: white;
  padding: 5px;
}
.entry {
  display: flex;
  align-items: center;
  padding: 3px;
}
.entry-color {
  height: 30px;
  width: 30px;
  padding: 10px;
}
.tools-img {
  margin-left: 5px;
  width: 100px;
}



/* Projects */
.project-card{
  box-shadow: var(--radius) var(--radius) 10px var(--radius) lightgray;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.project-picture-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.project-picture{
  padding-top: 10px;
  width: 100%;
  height: 300px;
}

.project-summary{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.project-code-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.project-name {
  font-size: 24px;
  font-weight: 500;
  overflow:hidden;
  text-overflow:ellipsis;
}

.project-brief {
  overflow:hidden;
  text-overflow:ellipsis;
}

.project-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.btn {
  box-shadow: var(--radius) var(--radius) 5px var(--radius) lightgray;
  margin-bottom: 15px;
}

/* Work experience */
.experience-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.experience-entry {
  display: flex;
  flex-direction: column;
}
.experience-data{
  font-weight: 500;
}
.experience-brief {
  display: flex;
  align-items: center;
}
.experience-icon{
  width: 100px;
  border-radius: 50%;
}

/* Form */
input[type=text]{
  padding: 20px;
  margin: 10px;
  border: 3px solid lightgrey;
  border-radius: 4px;
  transition: border 5.0s;
}
input[type=text]:focus {
  border: 3px solid black;
}

textarea{
  width: 75%;
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
  border: 3px solid lightgrey;
  transition: border 5.0s;
}
textarea:hover {
  border: 3px solid black;
}