/* General properties */

:root{
  --icon-width: 80px;
  --radius: 5px;
}

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  border: 1px solid blue;
}

/* Common properties */

.header, .bio-content, .project-summary {
  display: flex;
}

/* Header, navigation bar */

.header {
  justify-content: space-around;
  z-index: 10;
  position: fixed;
  background-color: whitesmoke;
}

.menu-icon {
	width: 70px;
  height: 70px;
	transition-duration: 1s;
}
.menu-icon:hover {
	width: var(--icon-width);
  height: var(--icon-width);
  align-items: center;
}



.nav-icon {
  width: var(--icon-width);
  opacity: 0.5;
}








/* Section */

.section {
  padding: 100px 0px 10px 0px;
}

/* Bio */

.profile-picture {
  height: 150px;
  border-radius: 80px;
}

/* Projects */
.project-card{
  box-shadow: var(--radius) var(--radius) 10px var(--radius) lightgray;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  margin-left: 20px;
  margin-top: 20px!important;
}

.project-picture{
  padding-top: 10px;
}

.project-code-picture {
  width: 50px;
  height: 50px!important;
  border-radius: 20px!important;
}
.img-thumbnail{
  border-radius: 50px!important;
}

.project-name {
  font-size: 32px;
  font-weight: 500;
  overflow:hidden;
  text-overflow:ellipsis;
  margin: 0px;
}

.project-brief {
  overflow:hidden;
  text-overflow:ellipsis;
}

.btn {
  box-shadow: var(--radius) var(--radius) 10px var(--radius) lightgray;
  margin-bottom: 15px;
}